beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
gTTS==2.2.2
gTTS-token==1.1.4
idna==2.10
packaging==20.9
pdftotext==2.1.5
pip-review==1.1.0
pyparsing==2.4.7
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
urllib3==1.26.4
